@using AION.Manager.Models
@model AION.Web.Models.AdminViewModel

@{
    bool isreadonly = Model.IsReadOnly;
    bool isenabled = !Model.IsReadOnly;
    string disabledcls = Model.DisabledCls;
    string disablebtn = Model.DisabledHtml;
    string readonlytxt = Model.ReadonlyHtml;
}

<div>
    <h4 class="form-section"><i class="fa fa-edit"></i> Modify Role</h4>
    @Html.Hidden("ModifyRoleViewModel.WrkrId", Model.LoggedInUser.ID)
    @Html.Hidden("ModifyRoleViewModel.PermissionUserId", Model.UserManagementViewModel.SelectedUser, new { @id = "PermissionUserId" })
    <input type="hidden" id="isUserPermission" value="" />

    <div class="row">
        <div class="col-md-3">
            <div class="form-group" id="permissionroledropdown">
                <label>Role: </label>
                @Html.DropDownListFor(m => m.ModifyRoleViewModel.SystemRoleId, Model.ModifyRoleViewModel.SystemRoleList, new { @class = "form-select form-control border-cyan", @id = "modifyrolesel" })
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group" id="permissionusername">
                <label>User:</label>
                <div id="permissionnouser" class="alert alert-danger">No User Selected - please select a user on <a href="#" onclick=" $('#nav-usermgmt-tab').tab('show'); showRoleDropdown();"> User Management</a> tab.</div>
                <div id="permsusername"></div>
            </div>
        </div>
    </div>


    <h4 class="form-section"><i class="fa fa-edit"></i> Modify Permission</h4>

    <div class="accordion" id="accrdnModifyRolePermissions" role="tablist" aria-multiselectable="true">
        @{
            foreach (Permission module in Model.ModifyRoleViewModel.PermsModulesList)
            {
                string moduleid = module.PermissionModuleId.Value.ToString();
                string modulename = module.PermissionModuleEnum.ToStringValue();
                string modulenamelink = modulename.Replace(" ", "");
                <div class="card collapse-icon accordion-icon-rotate left">
                    <div id="@moduleid" class="card-header">
                        <a data-toggle="collapse" data-parent="#accrdnModifyRolePermissions" href="#@modulenamelink"
                           aria-expanded="false" aria-controls="@modulenamelink" class="card-title lead">@modulename</a>
                    </div>
                    <div id="@modulenamelink" role="tabpanel" aria-labelledby="@moduleid" class="collapse">
                        <div class="card-content">
                            <div class="card-body">
                                <ul class="list-unstyled">
                                    @foreach (Permission permission in Model.ModifyRoleViewModel.PermsList.Where(x => x.PermissionModuleId == module.PermissionModuleId).ToList())
                                    {
                                        <li class="skin skin-square">
                                            @{ string checkboxid = permission.PermissionEnum.ToString();}
                                            @Html.CheckBox("ModifyRoleViewModel." + checkboxid, new { @class = "modifyroleperm" })
                                            <label for="ModifyRoleViewModel_@checkboxid">@permission.PermissionEnum.ToStringValue()</label>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
