@model AION.Web.Models.PlanReviewPartialViewModel

@{
    var contr = ViewContext.RouteData.Values["controller"];
    bool isCustomer = contr.ToString().ToLower() == "Customer".ToLower();

}
<style>
    .picker__table > thead > tr > th {
        padding:1px 1px 10px 0px;
    }

    .picker__table > tbody > tr > td, .picker__table > thead > tr > th {
        border: none !important;
    }

    .picker__table > tbody > tr:nth-of-type(odd) {
        background-color: white;
    }
</style>
@{
    string disabledClass = string.Empty;
    if (!Model.CanUpdate) { disabledClass = " disabled"; }

    if (isCustomer)
    {
        <tr>
            <td></td>
            <td>@(!Model.IsProjectSuspended ? Model.PlanReviewDate :string.Empty)</td>
            <td>@Model.ResponseDate</td>
            <td>@Model.CycleNumber.ToString()</td>
            <td>
                @if (Model.IsPlansReadyOnDateEditable)
                {
                    <div class="input-group">
                        @Html.TextBoxFor(model => Model.PlansReadyOnDate, new { @class = "form-control datepicker border-cyan", @id = "PlansReadyOnDate" })
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <span class="fa fa-calendar-o"></span>
                            </span>
                        </div>
                    </div>
                }
                else
                {
                    @Model.PlansReadyOnDate
                    <input type="hidden" class="prProdDate" value="@Model.PlansReadyOnDate" />
                }
            </td>
            <td>
                @if (Model.IsStatusEditable)
                {
                    @Html.DropDownList("PRResponse", Model.PlanReviewCustomerResponseSelectList, "Select", new { @class = "form-select form-control apptResponseSelect" })
                }
                else
                {
                    <span class="prStatusText">@Model.StatusText</span>
                }
            </td>
            <td>
                <a role="button" class="btn btn-poppy btn-sm updateProjectCycle @disabledClass" href="#"
                   data-cycle-id="@Model.ProjectCycleId" data-review-id="@Model.PlanReviewScheduleId" data-user="@Model.LoggedInUser.ID"
                   data-project-id="@Model.Project.ID" disabled="@(!Model.CanUpdate)">Update</a>
            </td>
            <td>
                @if (Model.IsPooled)
                {
                    <button type="button" class="btn btn-sm btn-warning setviewonly">POOLED</button>
                }
            </td>
        </tr>
    }
    else
    {
        <tr>
            <td>@Model.PlanReviewDate</td>
            <td>
                @if (Model.IsStatusEditable)
                {
                    @Html.DropDownList("PRResponse", Model.PlanReviewResponseSelectList, "Select", new { @class = "form-select form-control apptResponseSelect" })
                }
                else
                {
                    <span class="prStatusText">@Model.StatusText</span>
                }
            </td>
            <td>@Model.CycleNumber.ToString()</td>
            <td>
                @if (Model.IsPlansReadyOnDateEditable)
                {
                    <div class="input-group">
                        @Html.TextBoxFor(model => Model.PlansReadyOnDate, new { @class = "form-control datepicker date border-cyan", @id = "PlansReadyOnDate" })
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <span class="fa fa-calendar-o"></span>
                            </span>
                        </div>
                    </div>
                }
                else
                {
                    @Model.PlansReadyOnDate
                    <input type="hidden" class="prProdDate" value="@Model.PlansReadyOnDate" />
                }
            </td>
            <td>
                <a role="button" class="btn btn-poppy btn-sm updateProjectCycle @disabledClass" href="#"
                   data-cycle-id="@Model.ProjectCycleId" data-review-id="@Model.PlanReviewScheduleId" data-project-id="@Model.Project.ID" data-user="@Model.LoggedInUser.ID" disabled="@(!Model.CanUpdate)">Update</a>
            </td>
            <td>
            </td>
            <td>
                @Html.Partial("~/Views/Shared/ProjectDetails/_PRReviewersList.cshtml", Model)
            </td>
        </tr>
    }
}
