@model AION.Web.Models.Shared.NotesViewModel

    @if (Model.NotesComments != null)
    {
        <table class="table table-striped table-bordered table-hover"
               data-toggle="table"
               data-reorderable-columns="true"
               data-toolbar="#toolbar"
               data-search="true"
               data-show-columns="true"
               data-click-to-select="true"
               data-minimum-count-columns="2"
               data-pagination="true"
               data-id-field="id"
               data-page-size="50"
               data-page-list="[50, 100, 150, all]"
               data-show-footer="true"
               data-locale="en-US"
               id="notesViewTable">
            <thead>
                <tr>
                    <th data-field="CreatedDate" class="th0" data-sortable="true">Commented Date</th>
                    <th data-field="CreatedUser" class="th01" data-sortable="true">Commented By</th>
                    <th data-field="NotesComments" class="th02" data-sortable="true">Comments</th>
                    <th data-field="NotesType" class="th03" data-sortable="true">Type</th>
                </tr>
            </thead>
            <tbody>
                @{ foreach (AION.BL.Note noteList in Model.NotesComments)
                    {
                        <tr>
                            <td>@noteList.CreatedDate.ToString("MM/dd/yyyy hh:mm")</td>
                            <td>@noteList.CreatedUser.FirstName  @noteList.CreatedUser.LastName</td>
                            <td>@noteList.NotesComments</td>
                            <td>@noteList.NotesType.Type.ToStringValue()</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
