@using System.Web.Mvc.Html
@using AION.Web.Extensions
@model AION.Web.Models.EstimationViewModel

@{
    bool isenabled = !Model.IsReadOnly;
    string disabledcls = Model.DisabledCls;
    string disablebtn = Model.DisabledHtml;
    string readonlytxt = Model.ReadonlyHtml;
}

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label for="pndngreasonBEMP">Pending:</label>
            <div class="input-group">
                @Html.DropDownListFor(m => m.BackFlowApplicationNotes.PendingReason, Model.PendingReasonList, new { @id = "pndngreasonBEMP", @class = "form-select form-control border-cyan" }, Model.PermissionMapping.Estimat_Trads)
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label for="pndngreasonBEMP">Pending Notes:</label>
            <div class="input-group">
                @Html.TextAreaFor(m => m.BackFlowApplicationNotes.PendingNotesComments, new { style = "min-width: 500px;" }, Model.PermissionMapping.Estimat_Bkflow)
            </div>
            <div class="input-group pt-3">
                <button type="submit" onclick="SendPendingEmail(10)" class="btn btn-poppy setviewonly @disabledcls" @disablebtn>
                    Email Pending Notes
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label>
                Customer/Gate Notes:
                @if (Model.PermissionMapping.Estimat_Bkflow)
                {
                    <a href="#" class="openstandnotes @disabledcls" data-gatenoteid="BackflowGateNotes">Select Standard Notes</a>
                }
                else
                {
                    <a href="#" class="disabled" data-gatenoteid="BackflowGateNotes">Select Standard Notes</a>
                }
            </label>
            <div class="input-group">
                @Html.TextAreaFor(m => m.BackFlowApplicationNotes.PendingGateNotesComments, new { style = "min-width: 500px;", id = "BackflowGateNotes" }, Model.PermissionMapping.Estimat_Bkflow)
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label>
                Internal Notes:
            </label>
            <div class="input-group">
                @Html.TextAreaFor(m => m.BackFlowApplicationNotes.InternalNotesComments, new { style = "min-width: 500px;" }, Model.PermissionMapping.Estimat_Bkflow)
            </div>
        </div>
    </div>
</div>


