@using AION.Web.Helpers
@using AION.Web.Models.Shared
@model AION.Web.Models.EstimationViewModel

<div class="row">
    <div class="col-md-6">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="text-bold-600">Property Type:</h5>
                </div>
                <p>@Model.Project.ReviewTypRefDesc</p>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="text-bold-600">Code Summary:</h5>
                </div>
                <p>@Model.Project.DisplayOnlyInformation.CodeSummary</p>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="text-bold-600">Type Of Work:</h5>
                </div>
                <p>@Model.Project.DisplayOnlyInformation.TypeOfWork</p>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="text-bold-600">Type Of Construction:</h5>
                </div>
                <p>@Model.Project.DisplayOnlyInformation.TypeOfConstruction</p>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="text-bold-600">Scope Of Work - Overall:</h5>
                </div>
                <p>@Model.Project.DisplayOnlyInformation.ScopeOfWorkOverall</p>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="text-bold-600">Scope Of Work - Mechanical:</h5>
                </div>
                <p>@Model.Project.DisplayOnlyInformation.ScopeOfWorkMechanical</p>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="text-bold-600">Scope Of Work - Civil:</h5>
                </div>
                <p>@Model.Project.DisplayOnlyInformation.ScopeOfWorkCivil</p>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="text-bold-600">Permit #:</h5>
                </div>
                <p>@Model.Project.DisplayOnlyInformation.PermitNumber</p>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="text-bold-600"># Of Sheets:</h5>
                </div>
                <p>@Model.Project.DisplayOnlyInformation.NumofSheets</p>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="text-bold-600">Seal Holders:</h5>
                </div>
                <p>
                    @Html.Partial("~/Views/Shared/ApplicationDetail/_DetailsList.cshtml",
                    new DetailsListViewModel { PermissionMapping = Model.PermissionMapping, DetailsList = Model.Project.DisplayOnlyInformation.SealHolders })
                </p>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="text-bold-600">Designers:</h5>
                </div>
                <p>
                    @Html.Partial("~/Views/Shared/ApplicationDetail/_DetailsList.cshtml",
                   new DetailsListViewModel { PermissionMapping = Model.PermissionMapping, DetailsList = Model.Project.DisplayOnlyInformation.Designers })
                </p>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="text-bold-600">Fire Details:</h5>
                </div>
                <p>
                    @Html.Partial("~/Views/Shared/ApplicationDetail/_DetailsList.cshtml",
                   new DetailsListViewModel { PermissionMapping = Model.PermissionMapping, DetailsList = AccelaUIMappingHelper.FireDetails(Model.Project.DisplayOnlyInformation.FireDetails) })
                </p>
            </a>
        </div>
    </div>

    <div class="col-md-6">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="text-bold-600">Occupancy:</h5>
                </div>
                <p>@Model.Project.DisplayOnlyInformation.Occupancy</p>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="text-bold-600">Primary Occupancy:</h5>
                </div>
                <p>@Model.Project.DisplayOnlyInformation.PrimaryOccupancy</p>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="text-bold-600">Secondary Occupancy:</h5>
                </div>
                <p>@Model.Project.DisplayOnlyInformation.SecondaryOccupancy</p>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="text-bold-600">Square Footage:</h5>
                </div>
                <p>@Model.Project.DisplayOnlyInformation.SquareFootage</p>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="text-bold-600">Scope Of Work - Electrical:</h5>
                </div>
                <p>@Model.Project.DisplayOnlyInformation.ScopeOfWorkElectrical</p>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="text-bold-600">Scope Of Work - Plumbing:</h5>
                </div>
                <p>@Model.Project.DisplayOnlyInformation.ScopeOfWorkPlumbing</p>
            </a>
        </div>
    </div>
</div>