@using Newtonsoft.Json;

@model AION.Web.Models.NPAViewModel

@{
    ViewBag.Title = "NPA";
    string allreviewersjson = JsonConvert.SerializeObject(Model.AllReviewersVm);


    bool isenabled = !Model.IsReadOnly;
    string disabledcls = Model.DisabledCls;
    string disablebtn = Model.DisabledHtml;
    string readonlytxt = Model.ReadonlyHtml;
    bool hasCreate = Model.PermissionMapping.Create_NPA;
    bool hasModify = Model.PermissionMapping.Modify_NPA;

}
@section style{
    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/tables/datatable/datatables.min.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/tables/extensions/fixedHeader.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/tables/extensions/colReorder.dataTables.min.css" />

    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/forms/icheck/icheck.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/ui/jquery-ui.min.css">

    <link rel="stylesheet" type="text/css" href="~/app-assets/css/pages/npa-main.css" />
}

@section scripts{
    <script src="/app-assets/vendors/js/tables/datatable/datatables.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/dataTables.fixedHeader.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/dataTables.colReorder.min.js"></script>

    <script src="/app-assets/vendors/js/forms/validation/jquery.validate.min.js"></script>

    <script src="/app-assets/js/scripts/custom/select-lists.js"></script>
    <script src="/app-assets/js/scripts/custom/register-selected-item-changed-event.js"></script>
    <script src="~/app-assets/vendors/js/multiselect/multiselect-dual.js"></script>
    <script src="~/app-assets/js/scripts/custom/multiselect-dual.js"></script>

    <script src="/app-assets/js/scripts/navs/navs.js"></script>
    @*checkboxes*@
    <script src="/app-assets/vendors/js/forms/icheck/icheck.min.js"></script>
    <script src="/app-assets/js/scripts/forms/checkbox-radio.js"></script>

    <script type="text/javascript" src="~/app-assets/js/scripts/custom/add-meeting-rooms-modal.js"></script>

    <script type="text/javascript" src="~/app-assets/js/scripts/pages/npa-main.js"></script>
}

@section breadcrumbs {
    @Html.Partial("_Breadcrumbs", Model)
}

<script type="text/javascript">
    //create object to add arrays to
    //cjcl - this is required to be here since the js is loaded top down at the end.
    var arrAttendees = [];
    var arrAvailableReviewers = [];

</script>

@using (Html.BeginForm("Update", "NPA", FormMethod.Post, new { @id = "NPAForm" }))
{

    <div id="dialog-modal-conflicts" title="" class="" style="display:none">
        <div class="conflictsmessage">
        </div>
    </div>

    <input type="hidden" id="IsSubmit" name="IsSubmit" value="true" />
    <input type="hidden" id="hHolidayslist" name="hHolidayList" value="@Model.Holidays" />
    @Html.HiddenFor(m => m.MeetingRoomNameSelected, new { @class = "meetingroomname", id = "hMeetingroomname" })

    @Html.HiddenFor(m => m.LoggedInUserEmail, new { id = "wkrEmail" })
    @Html.HiddenFor(m => m.LoggedInUser.ID, new { @id = "wkrID" })
    //cjcl this hidden input has to use single quotes for the value so the json parse works correctly, do not change
    <input type="hidden" id="hAllreviewersjson" name="hAllreviewersjson" value='@Html.Raw(allreviewersjson)' />


    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <div class="error danger-alert"></div>
                        <ul class="nav nav-tabs nav-topline nav-justified">
                            @if (hasCreate)
                            {
                                <li class="nav-item">
                                    <a class="nav-link active" id="nav-createnpa-tab" data-toggle="tab" href="#nav-createnpa" role="tab" aria-controls="nav-createnpa" aria-selected="true">Create</a>
                                </li>
                            }
                            @if (hasModify)
                            {
                                string active = "";
                                if (!hasCreate) { active = "active"; }
                                <li class="nav-item">
                                    <a class="nav-link @active" id="nav-modifynpa-tab" data-toggle="tab" href="#nav-modifynpa" role="tab" aria-controls="nav-modifynpa" aria-selected="true">Modify</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="nav-endingnpa-tab" data-toggle="tab" href="#nav-endingnpa" role="tab" aria-controls="nav-endingnpa" aria-selected="true">Recurring Ending Soon</a>
                                </li>
                            }
                        </ul>
                        <div class="tab-content pt-md-5 px-md-3">
                            @if (hasCreate)
                            {
                                <div class="tab-pane active create-tab-pane" id="nav-createnpa" role="tabpanel" aria-labelledby="nav-createnpa-tab">
                                    @Html.Partial("_CreateNPATab", Model)
                                </div>
                            }
                            @if (hasModify)
                            {
                                string active = "";
                                if (!hasCreate) { active = "active"; }
                                <div class="tab-pane @active" id="nav-modifynpa" role="tabpanel" aria-labelledby="nav-modifynpa-tab">
                                    @Html.Partial("_ModifyNPATab", Model)
                                </div>
                                <div class="tab-pane " id="nav-endingnpa" role="tabpanel" aria-labelledby="nav-endingnpa-tab">
                                    @Html.Partial("_EndingNPATab", Model)
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        @if (hasModify)
        {
            @Html.Partial("_AttendeesModal", Model)
        }
    </div>

    <div id="dialog" style="display:none" align="center">
        Do you want to cancel the recurring NPAs or just this appointment?
    </div>
    @Html.Partial("_MeetingRoomsModal")
}


